<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Display Webcam Stream</title>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
 

<style>
#container {
	margin: 0px auto;
	width: 500px;
	height: 375px;
	border: 10px #333 solid;
}
#videoElement {
	width: 500px;
	height: 375px;
	background-color: #666;
}

/* new css */
.wrap {
  border: solid 1px #ccc;
  padding: 10px;
  text-align: center;
}

#output {
  display: inline-block;
  top: 4px;
  position: relative;
  border: dotted 1px #ccc;
  padding: 2px;
}

.button {
  border: solid 2px #ccc;
}

#Counter {
  display: none;
}

</style>
</head>
 
<body>
<div id="container">
	<video autoplay="true" id="videoElement">

  </video>
  <br/>
  <button id="cit" onclick="shoot()" class="button">Capture</button>
  <br/>
  <button id="new" onclick="start_counter()" class="button">Send Data</button>
  <br/>
  <div id="output"></div>
  <br>
  <br>
  <div id="Counter">
    
  </div>
</div>

<script>
var videoId = 'videoElement';
var scaleFactor = 0.25;
var snapshots = [];

var video = document.querySelector("#videoElement");

if (navigator.mediaDevices.getUserMedia) {
  navigator.mediaDevices.getUserMedia({ video: true })
    .then(function (stream) {
      console.log(typeof(stream));
      video.srcObject = stream;   // This stream object
    })
    .catch(function (err0r) {
      console.log("Something went wrong!");
    });
}

function stop(e) {
  var stream = video.srcObject;
  var tracks = stream.getTracks();

  for (var i = 0; i < tracks.length; i++) {
    var track = tracks[i];
    track.stop();
  }

  video.srcObject = null;
}

/* New Javascript */

function capture(video, scaleFactor) {
        if (scaleFactor == null) {
            scaleFactor = 1;
        }
        var w = video.videoWidth * scaleFactor;
        var h = video.videoHeight * scaleFactor;
        var canvas = document.createElement('canvas');
        canvas.width = w;
        canvas.height = h;
        var ctx = canvas.getContext('2d');
        ctx.drawImage(video, 0, 0, w, h);
        var imgData = ctx.getImageData(0,0,canvas.width, canvas.height);
        send_data(JSON.stringify(imgData));
        return canvas;
    }

function shoot() {
        var video = document.getElementById(videoId);
        var output = document.getElementById('output');
        var canvas = capture(video, scaleFactor);
        canvas.onclick = function() {
            window.open(this.toDataURL(image/jpg));
        };
        snapshots.unshift(canvas);
        output.innerHTML = '';
        for (var i = 0; i < 4; i++) {
            output.appendChild(snapshots[i]);
        }
    }

(function() {
  var captureit = document.getElementById('cit');
  captureit.click();
})();

function snap_pic(){
  var cap = document.getElementById('cit');
  cap.click();
}

function send_data(data){
  console.log("Send Function is activated");
  $.ajax({

    url: '/receive',
    type: 'POST',
    dataType: 'json',
    contentType: 'application/json',
    success: function(result) {
      console.log("success is working");
      console.log(result.result);
    },
    error: function(err){
      console.log("error is working");
      console.log(err);
    },
    data: JSON.stringify(data)
  });
  console.log("Send Function is completed 43");
}

function start_counter(){

  var count_div = document.getElementById('Counter');
  count_div.style.display = "block";

  var i = 0;
  setInterval(function(i){console.log(i);i += 1;}, 2000);

}

</script>
</body>
</html>